<h2 class="text-center">Create Survey</h2>
<form id="create-survey-form" autocomplete="off">
  <div class="form-group">
    <input type="text" name="survey[title]" id="survey-create-title" class="form-control input" placeholder="Survey Name" required>
  </div>
  <div class="form-group">
    <input type="text" name="survey[question]" id="survey-create-question" class="form-control input" placeholder="Question" required>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <input type="submit" name="create-survey-submit" id="create-survey-submit" class="form-control btn btn-primary" value="Confirm">
      </div>
    </div>
  </div>
</form>
