<h2 class="text-center">Create Submission</h2>
<form id="create-submission-form" autocomplete="off">
  <div class="form-group">
    <input type="text" name="surveyid" id="submission-surv-id" class="form-control input">
  </div>
  <div class="form-group">
    <input type="text" name="submissions[answer]" id="submission-answer-survey" class="form-control input" placeholder="answer" required>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <input type="submit" name="create-submission-submit" id="create-submission-submit" class="form-control btn btn-primary" value="Confirm">
      </div>
    </div>
  </div>
</form>
