<button class="close-form" style="float: right;">Close</button>
<form id="create-submission-form" autocomplete="off">
  <div class="form-group">
    <input type="hidden" name="surveyid" id="submission-surv-id" value="{{survey._id}}" class="form-control input">
  </div>
  <div class="form-group">
    <h2>Question: <br> {{survey.question}}</h2>
  </div>
  <div class="form-group radio">
    <label class="radio-style"><input type="radio" name="submissions[answer]" id="submission-answer-true" class="form-control input true-radio" value="true">True</label>
    <label class="radio-style"><input type="radio" name="submissions[answer]" id="submission-answer-false" class="form-control input false-radio" value="false">False</label>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <input type="submit" name="create-submission-submit" id="create-submission-submit" class="form-control btn btn-primary" value="Submit Answer">
      </div>
    </div>
  </div>
</form>
