<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    <h4 class="app-title">Curl Power</h4>
    </div>
    <div class="account-nav">
    </div>
  </div>
</nav>
