{{#each surveys as |survey|}}
  <div class="row" style="margin-bottom: 2px;">
    <div class="col-xs-12">
      <div data-my-survey-id="{{survey._id}}" class="col-xs-8 my-surveys surveys">
        {{survey.title}}
        <button type="button" class="edit-survey" name="button">
          Edit Me
        </button>
        <button type="button" class="delete-survey" name="button">
          Delete Me
        </button>
      </div>
      <div class="empty-space-div col-xs-1"></div>
      <div data-takeable-id="{{survey._id}}" class="col-xs-3 take-surveys surveys">
        {{survey.title}}
        <button type="button" class="take-survey" name="button">
          Take Me
        </button>
      </div>
    </div>
  </div>
{{/each}}
