<div id="survey-content" class="container-fluid surv">
  <div class="col-xs-12 survey-content">
    <div class="col-xs-8 my-surv"></div>
    <div class="empty-space-div col-xs-1"></div>
    <div class="col-xs-3 take-surv"></div>
  </div>
</div>
