{{#each surveys as |survey|}}
  <div class="row" style="margin-bottom: 2px; font-size: 15px;">
    <div data-my-survey-id="{{survey._id}}" class="take-surveys surveys">
      {{survey.title}}
      <button type="button" class="take-survey" name="button">
        Take Me
      </button>
    </div>
  </div>
{{/each}}
